/* @group MODALES ANIMACION UP DOWN */


.modal top .modal-dialog,
.modal.bottom .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}


  .modal top .modal-content,
  .modal.bottom .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal top .modal-body,
  .modal.bottom .modal-body {
    padding: 15px 15px 80px;
  }

/*top*/
	.modal top.fade .modal-dialog{
	 top: -330px;
		-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, top 0.3s ease-out;
		        transition: opacity 0.3s linear, top 0.3s ease-out;
	}
  
  .modal top.fade.show .modal-dialog{
    top: 0px;
  }
        
/*bottom*/
  .modal.bottom.fade .modal-dialog {
    bottom: 330px;
    -webkit-transition: opacity 0.8s linear, bottom 0.3s ease-out;
       -moz-transition: opacity 0.8s linear, bottom 0.3s ease-out;
         -o-transition: opacity 0.8s linear, bottom 0.3s ease-out;
            transition: opacity 0.8s linear, bottom 0.3s ease-out;
  }
  
  .modal.bottom.fade.show .modal-dialog {
    bottom: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }


  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #fafafa;
  }

/* @end */