/* @group PATTERN IMAGENES SITOM */

.pattern{
  background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAPAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQABgQEBAUEBgUFBgkGBQYJCwgGBggLDAoKCwoKDBAMDAwMDAwQDA4PEA8ODBMTFBQTExwbGxscHx8fHx8fHx8fHwEHBwcNDA0YEBAYGhURFRofHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8f/8AAEQgABAAEAwERAAIRAQMRAf/EAE8AAQAAAAAAAAAAAAAAAAAAAAcBAQAAAAAAAAAAAAAAAAAAAAAQAAEFAAAAAAAAAAAAAAAAAPAAFDSEtBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8Ad8xXjjdB/9k=') repeat;
}





/* @end */



/* @group BASADOS EN LOS NATIVOS DE BOOTSTRAP */

   .w-15 {
  width: 15% !important; 
  }
  
   .h-15 {
  height: 15% !important; 
  }

   .fs30 {
	font-size: 30px;
  }
   .fs60 {
	font-size: 60px;
  }
    
   .fs100 {
	font-size: 100px;
  }
  
  .display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2; 
  }

  
/* @end */



/* @group MODALES ANIMACION LEFT RIGHT */


.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}


  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -330px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
  
  .modal.left.fade.show .modal-dialog{
    left: 0px;
  }
        
/*Right*/
  .modal.right.fade .modal-dialog {
    right: 330px;
    -webkit-transition: opacity 0.8s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.8s linear, right 0.3s ease-out;
         -o-transition: opacity 0.8s linear, right 0.3s ease-out;
            transition: opacity 0.8s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.show .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }


  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #fafafa;
  }

/* @end */

/* @group INPUT RANGE */

input[type=range] {
  -webkit-appearance:none;
  width:100%;
  background:transparent;
  margin:13.8px 0;
}

input[type=range]:focus {
  outline:none;
}

input[type=range]::-webkit-slider-runnable-track {
  width:100%;
  height:12px;
  cursor:pointer;
  background:#cacaca !important;
  border-radius:1.3px;
  border:0.2px solid #cacaca;
}

input[type=range]::-webkit-slider-thumb {
  border:1px solid #cacaca;
  height:36px;
  width:16px;
  border-radius:3px;
  background:#33696b !important;
  cursor:pointer;
  -webkit-appearance:none;
  margin-top:-14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background:#cacaca;
}

input[type=range]::-moz-range-track {
  width:100%;
  height:8.4px;
  cursor:pointer;
  background:#cacaca !important;
  border-radius:1.3px;
  border:0.2px solid #cacaca;
}

input[type=range]::-moz-range-thumb {
  border:1px solid #cacaca;
  height:36px;
  width:16px;
  border-radius:3px;
  background:#33696b !important;
  cursor:pointer;
}

input[type=range]::-ms-track {
  width:100%;
  height:8.4px;
  cursor:pointer;
  background:transparent;
  border-color:transparent;
  color:transparent;
}

input[type=range]::-ms-fill-lower {
  background:#cacaca !important;
  border:0.2px solid #cacaca;
  border-radius:2.6px;
}

input[type=range]::-ms-fill-upper {
  background:#cacaca !important;
  border:0.2px solid #cacaca;
  border-radius:2.6px;
}

input[type=range]::-ms-thumb {
  border:1px solid #cacaca;
  height:36px;
  width:16px;
  border-radius:3px;
  background:#33696b !important;
  cursor:pointer;
  height:8.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background:#cacaca !important;
}

input[type=range]:focus::-ms-fill-upper {
  background:#cacaca !important;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  height:30px;
}



/* @end */





/* @group BOTON CIRCULARES*/

.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 10px 16px;
  border-radius: 40px;
  font-size: 30px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

/* @end */










