

/* @group VICHOM VIDEOS */


.cleanRowMargin {
	
	width: 100%;
	margin: 0;

}


.iframeVideosVichom {
	
	position: absolute; 
	height: 85%; 


}

.iframeVichomBackground {

	background-color: #000;

}



.videoUsuarioVichomMovil {
	
	width: 15%;
	/*max-width: 560px;*/
	border: 2px solid white;
	background: #808080 url(https://raw.githubusercontent.com/omolds/assets/master/images/vichom/videoNoCargado.png) no-repeat center center;
	position: relative;
	z-index: 10;
	margin-top: 5px;
	margin-left: 5px;
}


.videoUsuarioVichomDesktop {
	
	width: 20%;
	/*max-width: 560px;*/
	border: 2px solid white;
	background: #808080 url(https://raw.githubusercontent.com/omolds/assets/master/images/vichom/videoNoCargado.png) no-repeat center center;
	position: relative;
	z-index: 10;
	margin-top: 5px;
	margin-left: 5px;
}



.videoAgenteVichom {
	
	width: 100%;
	margin: auto; /*solo al agregarle el 0 antes del auto en imagenes funciona el centrado vertical pero en video no*/
	background: #808080 url(https://raw.githubusercontent.com/omolds/assets/master/images/vichom/videoNoCargado.png) no-repeat center center;
	left: 0px; top: 0px; bottom: 0px; right: 0px;
	position: absolute;
	z-index: 5;
	
	
}






/* @end */


/* @group VICHOM BIENVENIDA */

.vichomBienvenida {
	  
	  background-color: #fff;
	  z-index:80;
	  position:absolute;
	  height:100%;
	  width:100%;
	  text-align:center;
	  display:block;
}

.vichomBienvenidaLogo {
		
	padding-top: 60px;
	padding-bottom: 60px;
	width: 20em;
	height:auto;
	text-align:center;
}


.vichomBienvenidaFooter {
		
	/*background-color: #9465f3;*/
	padding-bottom: 20px;
}

/* @end */