/* @group VICHOM GENERALES */


.cleanRowMargin {
	
	width: 100%;
	margin: 0;

}


.iframeVideosVichom {
	
	position: absolute; 
	height: 82%; 


}

.iframeVichomBackground {

	background-color: #000;

}



.videoUsuarioVichomMovil {
	
	width: 15%;
	min-height: 100px;
	/*max-width: 560px;*/
	border: 2px solid white;
	background: #808080 url(https://omolds.github.io/assets/images/vichom/videoNoCargado.png) no-repeat center center;
	background-size: 200% auto;
	position: relative;
	z-index: 10;
	margin-top: 5px;
	margin-left: 5px;
}


.videoUsuarioVichomDesktop {
	
	width: 20%;
	min-height: 100px;
	/*max-width: 560px;*/
	border: 2px solid white;
	background: #808080 url(https://omolds.github.io/assets/images/vichom/videoNoCargado.png) no-repeat center center;
	background-size: 200% auto;
	position: relative;
	z-index: 10;
	margin-top: 5px;
	margin-left: 5px;
}



.videoAgenteVichom {
	
	width: 100%;
	margin: auto; /*solo al agregarle el 0 antes del auto en imagenes funciona el centrado vertical pero en video no*/
	background: #808080 url(https://omolds.github.io/assets/images/vichom/videoNoCargado.png) no-repeat center center;
	left: 0px; top: 0px; bottom: 0px; right: 0px;
	position: absolute;
	z-index: 5;
	
	
}

.vichomURLFooter {
		
	padding-bottom: 20px;
}




/* @end */


/* @group VICHOM BIENVENIDA */

.vichomBienvenida {
	  
	  background-color: #fff;
	  z-index:80;
	  position:absolute;
	  height:100%;
	  width:100%;
	  text-align:center;
	  display:block;
}

.vichomBienvenidaLogo {
		
	padding-top: 60px;
	padding-bottom: 60px;
	width: 20em;
	height:auto;
	text-align:center;
}


.vichomBienvenidaFooter {
		
	/*background-color: #9465f3;*/
	padding-bottom: 20px;
}

/* @end */



/* @group VICHOM ESPERA*/


.vichomEsperaVideoYoutube {
	width: 100%;
	height: 270px;
	margin: auto;
	background: #808080 url(https://raw.githubusercontent.com/omolds/assets/master/images/vichom/videoNoCargado.png) no-repeat center center;
}


.vichomEsperaIconoGirando {
	padding: 5px;
	font-size: 7em;
	color: #ff0060;
}


.vichomEsperaBackground {
	background-color: #ffffff;
}


.iframeEsperaTextoAnimado {	
	padding-top: 15px;
	height: 30px;	
}


/* @end */


/* @group VICHOM CALIFICACION*/



.vichomCalificacion{
	
	  background-color: #fff;
	  z-index:80;
	  position:absolute;
	  height:100%;
	  width:100%;
	  text-align:center;
	  display:block;
	
}




.vichomCalificacionIcono {
	
	padding: 35px 10px 10px 10px; 
	font-size: 10em;
	color: #ff0060;
	
}

.vichomCalificacionBotones {
		
	padding-bottom: 60px;
}


/* @end */


/* @group VICHOM CHROME*/


.vichomChrome{
	
	  background-color: #fff;
	  z-index:80;
	  position:absolute;
	  height:100%;
	  width:100%;
	  text-align:center;
	  display:block;
	
}



.vichomChromeIcono {
	
	padding: 35px 10px 10px 10px; 
	font-size: 10em;
	color: #ff0060;
	
}


/* @end */



/* @group VICHOM CORTINILLA*/




.vichomCortinilla{
	background-color: #ffffff;
	opacity:0.9;
	z-index:80;
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	display:block;
	 
}


.vichomCortinillaIcono {	
	padding: 35px 10px 10px 10px; 
	font-size: 10em;
	color: #ff0060;	
}


/* @end */

/* @group VICHOM HORARIOS*/




.vichomHorarios{
	
	background-color: #fff;
	z-index:80;
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	display:block;
	 
	
}



.vichomHorariosIcono {
	
	padding: 35px 10px 10px 10px; 
	font-size: 10em;
	color: #ff0060;
	
}


/* @end */

/* @group VICHOM AYUDAVENTAS*/




.vichomAyudaventas{	
	background-color: #fff;
	z-index:1;
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	display:block;	 
}



.vichomAyudaventasImagen {
	z-index: 5;
	max-height: 550px;
	padding: 20px; 	
}


/* @end */

/* @group VICHOM ROTAR*/


.vichomRotar{
	
	  background-color: #fff;
	  z-index:80;
	  position:absolute;
	  height:100%;
	  width:100%;
	  text-align:center;
	  display:block;
	
}



.vichomRotarIcono {
	
	padding: 35px 10px 10px 10px; 
	font-size: 10em;
	color: #ff0060;
	
}


/* @end */






/* @group VICHOM BOTON CIRCULAR*/

.vichomBotonCircular {
    width: 50px;
    height: 50px;
    padding: 0px 0px;
    border-radius: 35px;
    font-size: 20px;
    line-height: 1.33;
    z-index: 200;
}


.vichomBotonCircularColZindex {
 
    z-index: 10;
}







/* @end */



/* @group VICHOM CHAT*/

.vichomChat {
    
    width: 330px;
    /*background-color: blue;*/

}


.vichomChatInput {
    
	height:35px;
	width:100%;
	border-radius: 0;

}





/* @end */

/* @group VICHOM GLOBO MENSAJES */

#idgloboMensajes { 
	
	margin: 0 auto;
	width: 16px;
	height: 16px;
	background: #ffffff;
	/*estos tres valores deben ser la mitad del tamaño*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	left: 0px; top: 0px; bottom: 0px; right: 0px;

}

#idgloboMensajes p {
	margin-top: -4px;
	font-size: 10px;
	font-weight: bold;
	color: #000000;

}

/* @end */



/*.globoMensajesContenido {
  position: absolute;
  top: 50%;
  transform: translateY(50%);



.circuloGloboMensajes {
	background-color: orange;
    width: 50px;
    height: 50px;
    padding: 0px 0px;
    border-radius: 35px;
    font-size: 20px;
    line-height: 1.33;
    z-index: 200;
   
}

.circuloGloboMensajesColZindex {
 
    z-index: 15;
}}*/

































