
$red: rgb(179, 76, 1);
$blue: #fb6b00;
$gray-100: #cacaca;
$gray-600: rgb(115, 128, 134);
$green: rgb(77, 86, 90);
$yellow: rgb(187, 38, 7);
$cyan: rgb(238, 179, 137);
$font-family-sans-serif: Barlow semi condensed;